:root {
  --background-color: #091320;
  --primary-color: #691C65;
  --secondary-color: #140D05;
  --accent-color: #30B537;
  --text-color: #FBFCFE;
}

.body {
  background-color: var(--background-color);
}
