:root {
  --background-color: #050505;
  --primary-color: #b7a4b2;
  --secondary-color: #1d161b;
  --accent-color: #bca9b7;
  --text-color: #fafafa;
}

.body {
  background-color: var(--background-color);
  padding: 30px;
  height: 100vh;
  background-image: url(bg-github-search.svg);
  /* background by SVGBackgrounds.com */
  background-size: contain;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  text-decoration: underline;
}

body {
  background-color: var(--background-color);
}

@media (max-width: 425px) {
  .body {
    width: fit-content;
  }
}