@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap');

* {
  font-family: 'Source Code Pro', monospace;
}

:root {
  --background-color: #050505;
  --primary-color: #B7A4B2;
  --secondary-color: #1D161B;
  --accent-color: #BCA9B7;
  --text-color: #FAFAFA;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

form {
  background-color: var(--primary-color);
  padding: 20px;
  width: fit-content;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 10px;
  border: none;
  padding: 5px;
}

button {
  border-radius: 20px;
  text-align: center;
  border: none;
  height: fit-content;
  width: fit-content;
  text-align: center;
}

.user-result {
    color: var(--text-color);
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--accent-color);
    padding: 10px;
    border-radius: 20px;
}

.user-info {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
}

.user-info > p {
    margin: 0;
}
