@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700&display=swap');

* {
    font-family: 'Prompt', sans-serif;
}

.container {
    display: flex;
    background-color: #691C65;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 20px;
}

input {
    border-radius: 10px;
    border: none;
    padding: 5px;

}

button {
    border-radius: 20px;
    text-align: center;
    border: none;
    width: 30px;
    height: 30px;
}

form {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}